/*------------------*/
/* Import/Font-face */
/*------------------*/

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:700,400,400italic);

/*------------------*/
/* Basic Code Shell */
/*------------------*/

* {
  box-sizing: border-box;
}

/* Optional min width */
html {
  min-width: 20rem;
  overflow-x: hidden;
}

body {
  font-size: 1.125rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

/*-------------------*/
/* Overall Structure */
/*-------------------*/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hidden {
  display: none !important;
}

.wrap {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}

/*Wrap Breakpoints*/

@media(max-width: 76.5rem){

  .wrap{
    padding: 0 2rem;
  }

}

@media(max-width: 25.9375rem){

    .wrap {
    padding: 0 1.5rem;
} 

}

/*-------*/
/* Fonts */
/*-------*/

h1{
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 400;
  width: 28.3125rem;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

h2{
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  line-height: 6rem;
  letter-spacing: 0.8em;  
  text-transform: uppercase;
  color: #333;
  font-weight: 400;
}

/*Button Styles*/

.button, .morph-button-modal-2 button.button{
  width: 16.0625rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  display: block;
  background-color: #2d323e;
  padding: 1.625rem;
  list-style-type: none;
  position: relative;
  color: white;
}

.button a, a.button{
    color: white;
}

.button img {
  width: 0.875rem;
  position: absolute;
  top: 1.89062rem;
  left: 13.5rem;
}

/* 
 * Mobile 'Request an invite' morph styles
 */

@media screen and (max-width: 600px) {
    .morph-button.morph-button-modal.morph-button-modal-2.morph-button-fixed {
      width: 100%;
    }

    .morph-button-modal-2.open .morph-content {
      width: 100% !important;
      margin: 0 !important;
      top: 0 !important;
      left: 0 !important;
    }

    .morph-content .content-style-form span {
      right: 1rem;
      left: auto;
      top: 1rem;
    }

    .morph-content .content-style-form form {
      max-width: 95%;
    }
}

@media screen and (max-height: 725px) {
  .next-event div.morph-button-modal-2.morph-button-modal.open .morph-content {
    top: 0 !important;
    margin-top: 0 !important;
    overflow: scroll;
    max-height: 100vh;
  }
}



/*-----*/
/* Nav */
/*-----*/

/*Navigation Bar Styles*/

/*IDs*/

.nav {
  width: 100%;
  position: absolute;
}

#menu {
  position: absolute;
  width: 100%;  
  height:4.6875rem; 
  color: #FFFFFF;
  z-index:9999;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease-out;
}

#menu.sticky {
  position: fixed;
  visibility: visible;
  top:0;
  opacity: .95;
}

.navicon a{
  color: white;
}

li.navmenu{
    list-style-type: none;
}

.navmenu li{
  list-style-type: none;
  text-align: center;
}

.navmenu span{
      font-family: 'Lato', sans-serif;
      font-size: 0.625rem;
      line-height: 1.5rem;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      font-weight: 700;
}

nav li a{
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
  line-height: 2.5rem;
  letter-spacing: 0.8em;  
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
  list-style-type: none;
  padding-bottom: 0.75rem;
  }

.closed{
  float: right;
}

.logo-title{
  position: absolute;
  left: 14%;
  top: 23%;
  z-index: 100;
  margin: 0 auto;
}

.logo-title img{
  width: 26.5rem;
  margin: 22% 0 2.5rem 0;
    text-align: center;
}


.show > .navmenu > a {
    position: relative;
    z-index: 110;
    top: 0.8125rem;
    left: -1.125rem;
}

/*Need to remember which style works the best betweeen above and below*/

/*.show > .navmenu > a{
      position: absolute;
    z-index: 110;
    top: 13px;
    right: 241px;
  }*/

.nav-block-1, .nav-block-2, .nav-block-3{
  float: left;
  height: 4.5rem;
}

.on-scroll{
  background-color: #2d323e;
}

.on-scroll{
    position: fixed;
    z-index: 10000;
    width: 100%;
    opacity: 0.9;
    top: 0;
}

.nav-block-1{
  width: 27.955082742%;
  background-color: #2d323e;
  text-align: right;
}

.nav-block-1 > a >img{
    width: 9.375rem;
    margin: 1.0625rem 0;
    margin-right: 3.125rem;
}

  .nav-block-1 img {
  min-width: 7.5625rem; 
}

.nav-block-2{
  width: 44.089834516%;
  background-color: #424752;
  text-align: center;
  height: 4.6875rem;
}

.nav-block-2 a {
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 2.4375rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.3em;
    vertical-align: middle;
    padding-top: 1.0625rem;
    display: inline-block;
    height: 100%;
    cursor: pointer;
    width: 100%;
}

.nav-block-3 a:active{
  border: 0;
}

.nav-block-3{
  width: 27.955082742%;
  background-color: #2d323e;
}

.nav-block-3 li.navmenu{
  margin-left: 3.8125rem;
  margin-top: 0.75rem;
  line-height: 2.4375rem;
  position: relative;
  left: -0.125rem;
  top: 0.0625rem;
}

.nav-block-3 .navicon a{
    color: white;
    display: inline-block;
    width: 114px;
    height: 48px;
    padding-bottom: 0;
}

.nav-block-3 .fa-navicon {
    position: absolute;
    top: 0.6875rem;
    left: 4rem;
    font-size: 1.25rem;
    width: 1.25rem;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    top: 0.1875rem;
    left: 0.375rem;
    position: relative;
    }

.nav-block-3 .fa-navicon:before{
  width: 1.25rem;
}

/*Nav Breakpoints*/

@media (max-width: 40.3125rem) {

.nav-block-1, .nav-block-2, .nav-block-3{
  float: left;
  height: 4.5rem;
}

.nav-block-1{
  width: 27.955082742%;
  background-color: #2d323e;
  text-align: right;
}

/*.nav-block-1 > a >img{
    width: 121px;
    margin: 21px 0;
    margin-right: 50px;
}*/

.nav-block-1 > a >img {
    width: 7.5625rem;
    margin: 1.3125rem 0;
    position: relative;
    z-index: 100000;
    margin-left: 1.375rem;
}

.nav-block-2{
  width: 44.089834516%;
  background-color: #2d323e;
  text-align: center;
  height: 4.6875rem;
}

.nav-block-2 a{
display: none;
}

.nav-block-3 a:active{
  border: 0;
}


.nav-block-3{
  width: 27.955082742%;
  background-color: #2d323e;
}

.nav-block-3 li.navmenu{
  margin-left: 3.8125rem;
  margin-top: 0.75rem;
  line-height: 2.4375rem;
  position: relative;
  left: -0.125rem;
  top: 0.0625rem;
}

.nav-block-3 .navicon a{
    color: white;
    display: inline-block;
    width: 7.125rem;
    height: 3rem;
    padding-bottom: 0;
}

.nav-block-3 .fa-navicon {
    position: absolute;
    top: 0.6875rem;
    left: 4rem;
    font-size: 1.25rem;
    width: 1.25rem;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    top: 0.1875rem;
    left: 0.375rem;
    position: relative;
    }

.nav-block-3 .fa-navicon:before{
  width: 1.25rem;
}

.nav-block-2 .open-login-morph{
  display: none;
}

}

@media (max-width: 43.75rem) {

    .on-scroll .wrap{
    padding: 0 0rem;
  }

  .news li.button {
    margin-top: 9.625rem;
    margin-bottom: 2.4375rem;
    margin: 0 auto;
    float: none;
}

  li.navmenu{
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-block-1, .nav-block-2, .nav-block-3{
  float: left;
  height: 4.5rem;
}

.nav-block-1{
  width: 27.955082742%;
  background-color: #2d323e;
  text-align: right;
}

.nav-block-1 > a >img{
    width: 7.5625rem;
    margin: 1.3125rem 0;
    margin-right: 0.625rem;
}
.nav-block-2{
  width: 44.089834516%;
  background-color: #2d323e;
  text-align: center;
  height: 4.6875rem;
}

.nav-block-2 a{
  font-family: 'Lato', sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 2.4375rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.3em;
  vertical-align: middle;
  padding-top: 1.0625rem;
  display: inline-block;
  height: 100%;
}

.nav-block-3 a:active{
  border: 0;
}

.nav-block-3{
  width: 27.955082742%;
  background-color: #2d323e;
}

.nav-block-3 li.navmenu{
  margin-left: 3.8125rem;
  margin-top: 0.75rem;
  line-height: 2.4375rem;
  position: relative;
  left: -0.125rem;
  top: 0.0625rem;
}

.nav-block-3 .navicon a{
    color: white;
    display: inline-block;
    width: 7.125rem;
    height: 3rem;
    padding-bottom: 0;
}

.nav-block-3 .fa-navicon {
    position: absolute;
    top: 0.6875rem;
    left: 4rem;
    font-size: 1.25rem;
    width: 1.25rem;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    top: 0.1875rem;
    left: 0.375rem;
    position: relative;
    }

.nav-block-3 .fa-navicon:before{
  width: 1.25rem;
}

}

@media (max-width: 400px) {

  .on-scroll .wrap{
    padding: 0px 1.3em;
  }
/*Keep an eye on  ^^*/
  .nav-block-3 span{
  display: none;
}

.nav-block-3 .fa-navicon {
    position: absolute;
    top: 0.6875rem;
    left: 5.5625rem;
    font-size: 1.25rem;
    width: 1.25rem;
}

}

/*Header Section Styles*/
header{
  background-image: url(../img/top-background.png);
  height: 100vh;
  background-size: cover;
  min-height: 32rem;
  overflow: hidden;
  width: 100%;
}


header p{
  color: white;
  width: 25.625rem;
  padding-bottom: 1.9375rem;
}

header .button{
  color: #2d323e;
  background-color: white;
}

/*Header Breakpoints*/

@media (max-width: 43.75rem) {

header p {
    color: white;
    width: 100%;
    margin-bottom: 1.9375rem;
    margin: 0 auto;
}

header .button {
    color: #2d323e;
    background-color: white;
    margin: 0 auto;
    margin-top: 3rem;
}

.logo-title{
    position: relative;
    z-index: 100;
    margin: 0 auto;
    text-align: center;
    
    left: 0;
    max-width: 92%;
}

  header .button{
    color: #2d323e;
    background-color: white;
    margin: 0 auto;
}

  .logo-title img{
  width: 26.5rem;
  margin: 10vh 0 2.5rem 0;
  text-align: center;
}
  
}

@media(max-width: 25.9375rem){
    .header p {
    width: 100%;
}
}

/* Next Event Section Styles */

.next-event {
    padding-top: 7.13rem;
    padding-bottom: 3.9375rem;
}

.para-title{
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-style: italic;
}

.para-side .date {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.2em;
    font-weight: 400;
    padding-bottom: 0.25rem;
}

.date{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.2em;
  font-weight: 400;
  padding-bottom: 2.5625rem;
}

/*.next-event{
  padding-top: 124.08px;
  padding-bottom: 63px; 
  //*Keep an eye on for the accordion
}*/

.side-header{
  width: 32.5625rem;
  margin: 0;
  margin-right: 7.8125rem;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  line-height: 6rem;
  letter-spacing: 0.8em;
  text-transform: uppercase;
  font-weight: 400;
  float: left;
}

.para-side{
  font-family: 'Playfair Display', serif;
  width: 32.9375rem;
  text-align: left;
  float: left;
}

.para-side h2{
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0;
  text-transform: initial;
}

.para-side .button{
  margin-top: 2.9375rem;
}

.special-para{
  max-width: 50rem;
  color: #6e7991;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 2.505rem;
  padding-bottom: 8.625rem;
}

.special-para span{
  color: #fff;
}

/*Next Event Breakpoints*/

@media(max-width: 76.5rem){

  .next-event .side-header{
    width: 40%;
    margin-right: 3.7%;
  }

  .para-side{
    float: right;
  }

}

@media(max-width: 72.6875rem){

.next-event .side-header{
    font-size: 2.375rem;
}

}

@media(max-width: 64.9375rem){
.next-event .side-header{
    width: 100%;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    float: none;
    position: relative;
    left: 0.4em;
  }

  .para-side {
    width: 100%;
    float: none;
    margin: 0 auto;
    text-align: center;
}

.special-para{
  margin-top: 2.5rem;
}

   .para-side .button{ 
    margin: 2.9375rem auto 0 auto;
  }

  .next-event{
    margin-top: 1.255rem;
  }

}

@media (max-width: 43.75rem) {

  .para-side {
    width: 100%;
    float: none;
    margin: 0 auto;
    text-align: center;
}

.para-side .button{
    margin: 2.9375rem auto 0 auto;
}

}

@media (max-width: 25rem) {
  .next-event {
    padding-top: 3.505rem;
    padding-bottom: 3.9375rem;
}
}

/*Accordion Styles*/

.accordion .title {
  margin-top: 3.75rem;
  margin-bottom: 2.25rem;
  padding-bottom: 1.25rem;
  font-size: 1rem;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  color: #2d323e;
  line-height: 1.5rem;
  border-bottom: 0.0625rem #ccc solid;
  max-width: 31.25rem;
  cursor: pointer;
  overflow: hidden;
}

.accordion .title p {
  margin: 0;
  padding: 0;
}

.accordion .title img {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(2.5rem);
      -ms-transform: translate(2.5rem);
          transform: translate(2.5rem);

  float: right;
  margin-top: -0.75rem;
  margin-right: 1rem;
  transition: all 400ms ease;
}

.accordion .list{
  display: none;
  margin: 0;
  padding: 0;
}

.accordion .list ul{
  margin: 0;
  padding: 0;
}

.accordion .list ul li{
  font-family: 'lato', sans-serif;
  list-style-type: none;
  font-weight: 400;
  color: #2d323e;
  font-size: 1rem;
  line-height: 2.25rem;
}



.accordion.open .title img {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}





/*Accordion Breakpoint*/

@media (max-width: 65rem){
.showing{
    margin: 3.75rem auto 2.25rem auto;
}

.accordion .title {
  margin: 5.625rem auto 2.25rem auto;
}

}

/*Why Trend*/

.why-trend{
  background-color: #282d38;
}

.why-trend h2{
  color: #fff;
  display: inline-block;

}

.why-trend img {
    width: 10.625rem;
    position: relative;
    top: 0.875rem;
    left: 1.5rem;
}

.why-trend-title{
  text-align: center;
}

.why-trend-title h2{
  display: inline-block;
  margin-top: 5.375rem;
}

.why-trend-relative{
      width: 9.5rem;
    display: inline-block;
}

/*Why Trend Breakpoints*/

@media(max-width: 54rem){

    .why-trend-title{
    position: relative; 
    left: 0.4em;
  }

}

@media (max-width: 39.6875rem) {
.next-event .side-header{
    font-size: 2.375rem;
    line-height: 5.375rem;
  }
}

@media (max-width: 32.25rem) {
.next-event .side-header{
    font-size: 1.75rem;
    line-height: 4rem;
  }
}

@media(max-width: 25.9375rem){

.next-event .side-header{
  width: 100%;
  position: relative;
  left: 0.4em;
}
.para-side{
  width: 100%;

}

.why-trend-title {
    position: relative;
    left: 0.4em;
}

}

@media (max-width: 400px) {
.why-trend-title{
  display: block;
  text-align: center;
  position: relative;
  left: 0.4em;
}


.why-trend-title h2{
  display: block;
  text-align: center;
  line-height: 1.25rem;
}

.why-trend-relative {
    width: 9.5rem;
    display: block;
    margin: 0 auto;
    left: -1.375rem;
    position: relative;
}

.why-trend img {
    width: 10.625rem;
    position: relative;
    top: 0.875rem;
    left: 1.5rem;
}
  
}

@media (max-width: 24.375rem) {
.next-event .side-header{
    font-size: 1.4375rem;
    line-height: 4rem;
  }

  .why-trend-title h2 {
    font-size: 1.375rem;
  }
}

/* Speakers Styles */

.speakers{
  padding-bottom: 11.625rem;
   background: url('../img/shattered.png'); 
  background-repeat: repeat;
}

.bg-white{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.speaker-block{
  float: left;
  width: 27.333333333%;
  margin-right: 9%;
  text-align: center;
}

.speaker-block:last-child{
  margin-right: 0;
}

/*Speaker images Styles*/

.circle, .circle-2, .circle-3{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.circle{
  width: 100%;
  height: 0;
  background-image: url(../img/full/layer14.png);
  border-radius: 50rem;
  padding-bottom: 100%;
  background-position: center left 60%;
  background-size: cover;
  box-shadow: inset 0px 0px 0px 0.625rem rgba(255,255,255,0.4);
}

.circle-2{
  width: 100%;
  height: 0;
  background-image: url(../img/full/layer15.png);
  border-radius: 50rem;
  padding-bottom: 100%;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px 0px 0px 0.625rem rgba(255,255,255,0.4);
}

.circle-3{
  width: 100%;
  height: 0;
  background-image: url(../img/full/layer16.png);
  border-radius: 50rem;
  padding-bottom: 100%;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px 0px 0px 0.625rem rgba(255,255,255,0.4);
}

.twitter-pos{
  position: relative;
  top: 0.125rem;
}

.speakers li{
    font-family: "SSSocialRegular";
    color: #333;
    list-style-type: none;
    display: inline-block;
    margin-right: 1.6875rem;
}

.speakers li:last-child{
  margin-right: 0;
}

.speakers h2:first-child{
  text-align: center;
  position: relative;
  left: 0.4em;
  padding-top: 1.6875rem;
}


.speaker-block h2{
  color: #333;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 3rem;  
  letter-spacing: 0;
  text-transform: initial;
  text-align: center;
  position: relative;
}

.speaker-block p{
  color: #333;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  position: relative;
}

.fa-linkedin{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #333;
    position: relative;
}

.fa-twitter{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #333;
    position: relative;
}

/*Speakers Breakpoints*/

@media (max-width: 43.75rem) {

  .speaker-block, .speaker-block:last-child{
    float: none;
    margin: 0 auto;
    width: 46.2%;
    padding-bottom: 6.9375rem;
    min-width: 16.875rem;
  }

  .speaker-block:last-child{
    padding-bottom: 0;
  }

  .speakers h2:first-child{
    padding-top: 5.375rem;
  }

}

@media(max-width: 25.9375rem){  

.speakers h2:first-child {
    padding-top: 5.375rem;
}

}

/*Venue Styles*/
.venue {
  position: relative;
  overflow: hidden;
}

.venue-title{
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: 0.3em;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
}

.venue .address{
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: -1.5rem;
  margin-bottom: 0.75rem;

}

.venue .imgcont{
    float: right;
    width: 56.25rem;
    height: 56.25rem;
}

.venue .side-header{
    margin-bottom: 2.5rem;
}

.venue-subinfo{
    padding-top: 8.1875rem;
    float: left;
    width: 25%;
}

.venue img{
  width: 62.5rem;
}

/*Venue Breakpoints*/

@media(max-width: 54rem){

  .venue .side-header {
    position: relative;
    margin-bottom: 2.5rem;
    left: 0.4em;
    width: 100%;
    text-align: center;
}

  .venue-subinfo{
    float: none;
    padding-top: 6.62rem;
    margin: 0 auto;
    width: 100%;
  }

  .venue-subinfo .side-header h2{
    margin-right: 0;
    margin-bottom: 2.5rem;
    display: block;
    text-align: center;
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  .venue-subinfo p{
    text-align: center;
    display: block;
  }

  .venue-subinfo .venue-title{
    padding-bottom: 2.5rem;
  }

  .venue-subinfo .address{
    padding-bottom: 0.375rem;
  }

  .venue-subinfo a{
    margin: 0 auto;
  }

  .venue p{
    margin: 0 auto;
  }
  
  .venue .bg-strip{
    display: none;
  }
}

@media (max-width: 25rem) {

.venue-subinfo .side-header{
  font-size: 2.25rem;
  line-height: 4.25rem;
  margin-bottom: 1.25rem;
  position: relative;
  left: 0.4em;
}

}

/*Map Styles*/

.venue .map {
  background: black url('../img/venue-map.png') no-repeat;
  background-size: cover;

  color: white;
  height: 100%;
  width: 51%;
  
  position: absolute;
  top: 0;
  right: -51%;
  
  z-index: 2010;

  transition: all 800ms cubic-bezier(0.66, 0.29, 0.33, 1.02);
}

.venue .map::after {
  content: "";
  background: url('../img/venue-pointer.png') no-repeat;
  background-size: contain;
  
  position: absolute;

  height: 8rem;
  width: 5rem;
  display: block;
  
  top: 50%;
  right: 50%;
  margin-top: -4rem;
  margin-right: -2.5rem;
  
}

.venue .map.open {
    right: 0;
}

.mobile-button{
  display: none;
}

/*Map Breakpoints*/

@media (max-width: 85.8125rem){
  .venue .map{
    width: 55%;
    right: -55%;
  }
}



@media (max-width: 85.8125rem){
  .venue .map {
  width: 55%;
  right: -55%;
  
}
}

@media (max-width: 75.6875rem){
  .venue .map {
  width: 56%;
  right: -56%;
  
}
}

@media (max-width: 65.6875rem){
  .venue .map {
  width: 57%;
  right: -57%;
  
}
}

@media (max-width: 60.9375rem){
  .venue .map {
  width: 60%;
  right: -60%;
  
}
}

@media (max-width: 54rem){
    .venue .map {
  display: none;
  }

  .venue-subinfo .button{
    display: none;
  }

  .mobile-button{
    display: block;
    width: 16.0625rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    display: block;
    background-color: #2d323e;
    padding: 1.625rem;
    list-style-type: none;
    position: relative;
    color: white;
    cursor: pointer;
  }


}

/*News Styles*/

.news{
  background-color: #f2f2f2;
  padding-bottom: 10.4375rem;
}

.news .button{
  float: right;
  margin-top: 9.625rem;
  margin-bottom: 2.4375rem;
}

.news h2{
  margin-top: 9rem;
  display: inline-block;
}

/*News Breakpoints*/

@media(max-width: 55.75rem){

  .blogwrap-title{
    width: 100%;
    margin-top: 6.62rem;
    text-align: center;
    margin-bottom: 2.4375rem;
  }

  .news h2{
    margin-top: 0;
    position: relative;
    left: 0.4em;
  }

  .news .button{
    margin: 0 auto;
    float: none;
  }

}

@media(max-width: 39.625rem){
  .news h2{
    line-height: 4rem;
  }
}

@media(max-width: 25.9375rem){
  .news h2 {
  margin-bottom: 2.5rem;
  position: relative;
  left: 0.4em;
  line-height: 4rem;
}

.news img{

  margin-top: 3.125rem;

}

}

/*Our Partners Styles*/

.our-partners h2{
  text-align: center;
  padding-top: 5.375rem;
  padding-bottom: 5.875rem;
  position: relative;
  left: 0.4em;
}

.partner-img{
  text-align: center;
  padding-bottom: 14.375rem;
}

.first-logo{
  width: 12rem;
  margin-right: 13.5625rem;
  display: inline-block;
}

.second-logo{
  width: 16.5rem;
  position: relative;
  top: 1.125rem;
  display: inline-block;
}

/*Our Partners Breakpoints*/

@media(max-width: 46.4375rem){

  .our-partners h2{
    padding-bottom: 2.125rem;
  }
.first-logo {
    margin-top: 3.75rem;
    width: 12rem;
    display: block;
    padding-bottom: 3.125rem;
    margin: 0 auto;
    margin-bottom: 3.1875rem;
}

.second-logo {
    width: 16.5rem;
    margin: 0 auto;
    display: block;
}

}

@media(max-width: 40.8125rem){

  .our-partners h2{
    padding-bottom: 2.125rem;
  }
  .first-logo {
    width: 12rem;
    display: block;
    padding-bottom: 3.125rem;
    margin: 0 auto;
    margin-bottom: 3.1875rem;
    margin-top: 3.75rem;
}

  .second-logo {
    width: 16.5rem;
    margin: 0 auto;
    display: block;
}

}

@media (max-width: 36.6875rem){
  .first-logo {
    margin-top: 3.75rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 3.1875rem;
  }
  .second-logo {
    display: block;
    margin: 0 auto;
  }

  .our-partners h2{
    padding-bottom: 2.125rem;
  }

  .partner-img{
    padding-bottom: 8.75rem;
  }
}

@media(max-width: 30.5rem){
  .our-partners h2{
    line-height: 4rem;
  }
}

@media(max-width: 25.9375rem){

  .our-partners h2 {
    padding-bottom: 1.375rem;
    text-align: center;
    padding-top: 4.25rem;
    position: relative;
    left: 0.4em;
}

}

/*Email Subscribe Styles*/

.subscribe{
  background-color: #2d323e;
  border-bottom: 0.0625rem solid #393c44;
}

.subscribe h2{
  padding-top: 9.25rem;
  color: #fff;
  text-align: center;
  position: relative;
  left: 0.4em;
  }

.subscribe p{
  max-width: 34.125rem;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

/*Email Subscribe Breakpoints*/

@media(max-width: 32.1875rem){
  .subscribe h2{
    padding-top: 4.25rem;
  }
}

@media(max-width: 31rem){
  .subscribe h2{
    line-height: 4rem;}
}

@media(max-width: 25.9375rem){

  .subscribe h2{
    padding-top: 4.25rem;
    position: relative;
    left: 0.4em;
}

.subscribe p {
    max-width: 34.125rem;
  }

}

/* Email Subscribe Form Styles */

.subscribe form{
  text-align: center;
  max-width: 34.125rem;
  margin: 0 auto;
}

.subscribe form input{
  width: 100%;
  border: 0;
  background-color: #2d323e;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 3rem;
  padding: 3rem;
  font-size: 2rem;
  text-align: center;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
  margin-bottom: 7.375rem;
}

.subscribe form input:active{
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 1);
}

.subscribe form input:focus{
  color: white;
  border-bottom: 0.0625rem solid white;
}

/*Mozilla Firefox Hack for the form to have padding*/
@-moz-document url-prefix() {
.subscribe form input{

  margin-top: 3rem!important;
  padding: 0!important;
}

}

/*Email Subscribe Form Breakpoints*/

@media (max-width: 546px) {

  .subscribe form input{
  width: 100%;
}

}

@media (max-width: 320px) {
  
  .subscribe form input {
    width: 21.4375rem;
    border: 0;
    background-color: #2d323e;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    padding: 3rem;
    font-size: 2rem;
    text-align: center;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
    margin-bottom: 7.375rem;
    padding-right: 1.5625rem;
    position: relative;
    left: -2.875rem;
}
}

/*Footer Styles*/

footer{
  background-color: #23262f;
}

footer img{
  width: 5.625rem;
}

footer h2{
  font-family: 'Lato', sans-serif;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: white;
  letter-spacing: 0.8em;
  text-align: center;
  margin-left: 0.8em;
}

.verb-logo{
    display: block;
    text-align: center;
    padding-bottom: 2.125rem;

}

/*Footer Breakpoints*/

@media (max-width: 20rem) {
  footer h2{
  font-size: 0.625rem;
}
}

/*---------------*/
/*  Form Styles  */
/*---------------*/

/*Form elements connected to subscribe section of site*/

invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  padding: 3rem;
  font-size: 2rem;
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  padding: 3rem;
  font-size: 2rem;
  text-align: center;
}

:-ms-input-placeholder {  
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  padding: 3rem;
  font-size: 2rem;
  text-align: center;
}

input::-moz-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 1.25rem;
  margin-top: 3rem;
  font-size: 2rem;
  text-align: center;
}

textarea, input { 
  outline: none; 
}

/*------------------*/
/* Stripe (Plugins) */
/*------------------*/

header .strip-parent { 
  height: 100%;
  position: relative;
  left: 6%;
  z-index: 12;
  float: left;
  max-width: 25rem;
}

header .strip-parent > .strip { 
  background: rgba(0,0,0,0);
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
  width: 37.5rem ; 
}
header .strip-parent > .strip > .bg-img {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#282d38+0,7db9e8+100&1+0,0+100 */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: linear-gradient(to bottom,  rgba(40,45,56,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282d38', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
  color: #fff;
  height: 100%;
  left: -6.84375rem;
  position: absolute;
  text-align: center;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  width: 300%;
}

/*Venue Background Strip*/

.venue{
  padding-bottom: 10.3125rem;
  position: relative;
  background-color: aliceblue; /*This is a temporary background colour*/
}


.venue .bg-strip {
  position: absolute;
  z-index: 2000;
  height: 100%;
  width: 100%;
  left: 53.7%;
}


.venue .bg-strip .strip-parent { 
  height: 100%;
  position: relative;
  left: 6%;
  z-index: 12;
  float: left;
  max-width: 25rem;
}
.venue .bg-strip .strip-parent > .strip { 
  background: rgba(0,0,0,0);
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
  width: 37.5rem ; 
}
.venue .bg-strip .strip-parent > .strip > .bg-img {
  background: url(../img/south-bank.jpg) no-repeat center center fixed;
  box-shadow: inset 0.6875rem 0.8125rem 1.6875rem -1.3125rem rgba(0,0,0,0.75);
  background-size: cover;
  color: #fff;
  height: 100%;
  left: -6.84375rem;
  position: absolute;
  text-align: center;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  width: 300%;
}

/*Lightbox*/

.morph-button-modal.open .morph-content{
  background-color: #2d323e;
  color: #fff;
  width: 28.125rem;
  z-index: 9999;
}

.morph-button-modal-2.open .morph-content {
    width: 28.125rem;
    height: 45rem;
    margin: -22.5rem 0 0 -13.75rem;
}

.morph-button-fixed.active > button {
  opacity: 1 !important;
}

.content-style-form form{
    max-width: 28.125rem;
    margin: 0 auto;
    background-color: #2d323e;
}

.content-style-form textarea, input {
    outline: none;
    border: 0.125rem solid #6c7078;
    background-color: #2d323e;
    display: block;
    width: 80%;
    height: 3.75rem;
    margin: 0 auto;
    margin-bottom: 0.625rem;
}

.content-style-form input{
  color: #fff;
  font-size: 1rem;
  font-family: lato, sans-serif;
  font-weight: 400;
  padding: 0.75rem;
  margin-bottom: 1.75rem;
}

.content-style-form input[name="job"]{
  margin-bottom: 2.375rem;
}

.content-style-form label{
  width:22.5625rem;
  display: block;
  text-align: left;
  margin: 0 auto;
  font-family: lato, sans-serif;
  font-weight: 400;
  font-size: 0.75rem; 
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

.content-style-form input[type="submit"]{
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-size: 0.75rem;
  color: #2d323e;
  background-color: #fff;
  letter-spacing: 0.8em;
  /*text-align: 0.4em;*/
  font-weight: 700;
  height: 3.875rem;
  border: 0;
  cursor: pointer;
  }

.content-style-form span {
    display: block;
    position: absolute;
    left: 26.25rem;
    top: 0.75rem;
    cursor: pointer;
    padding-right: 1rem;
}

.morph-button.morph-button-modal-2{ 
 margin: 0!important;
}

.content-style-form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 1rem;
  text-align: left;
}

 .content-style-form input:-moz-placeholder {
  color: black;
  font-size: 1rem;
  text-align: left;
 }

.content-style-form h3{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.8em;
    text-indent: 0.4em;
    text-transform: uppercase;
    margin-top: 4.375rem;
    margin-bottom: 2.75rem
}