/*------------------*/
/* Import/Font-face */
/*------------------*/

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:700,400,400italic);
@font-face {
  font-family: "SSSocialRegular";
  src: url('../webfonts/ss-social-regular.eot');
  src: url('../webfonts/ss-social-regular.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/ss-social-regular.woff') format('woff'),
       url('../webfonts/ss-social-regular.ttf')  format('truetype'),
       url('../webfonts/ss-social-regular.svg#SSSocialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*------------------*/
/* Basic Code Shell */
/*------------------*/

* {
  box-sizing: border-box;
}

/* Optional min width */
html {
  min-width: 20rem;
}

body {
  font-size: 1.125rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

/*-------*/
/* Fonts */
/*-------*/

h1{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  width: 453px;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h2{
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 96px;
  letter-spacing: 0.8em;  
  text-transform: uppercase;
  color: #333;
  font-weight: 400;
}

/*Button Styles*/

.button{
  width: 257px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  display: block;
  background-color: #2d323e;
  padding: 26px;
  list-style-type: none;
  position: relative;
}

.button a, a.button{
    color: white;
}

.button img{
  width: 14px;
  position: absolute;
  top: 30.25px;
  left: 216px;
}

/*-----*/
/* Nav */
/*-----*/
/*Navigation Bar Styles*/

.navicon a{
  color: white;
}

li.navmenu{
    list-style-type: none;
}

.navmenu li{
  list-style-type: none;
  text-align: center;
}

.navmenu span{
      font-family: 'Lato', sans-serif;
      font-size: 10px;
      line-height: 24px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      font-weight: 700;
}

nav li a{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.8em;  
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
  list-style-type: none;
  padding-bottom: 12px;
  }

nav li a:active{
  border-bottom: 2px solid #000;
}

.closed{
  float: right;
}

.logo-title{
  position: relative;
  z-index: 100;
}

.logo-title img{
  width: 424px;
  margin: 22% 0 40px 0;
}

.show > .navmenu > a{
    position: relative;
    z-index: 110;
    top: 13px;
    left: -19px;}

.nav-block-1, .nav-block-2, .nav-block-3{
  float: left;
  height: 72px;
}

.on-scroll{
  background-color: #2d323e;
}

.on-scroll{
    position: fixed;
    z-index: 10000;
    width: 100%;
    opacity: 0.9;
    top: 0;
}

.nav-block-1{
  width: 27.955082742%;
  background-color: #2d323e;
  text-align: right;
}

.nav-block-1 > a >img{
    width: 150px;
    margin: 17px 0;
    margin-right: 50px;
}
.nav-block-2{
  width: 45.803782506%;
  background-color: #424752;
  text-align: center;
}

.nav-block-2 a{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.3em;
  vertical-align: middle;
  padding-top: 17px;
  display: inline-block;
  height: 100%;
}

.nav-block-3 a:active{
  border: 0;
}


.nav-block-3{
  width: 26.241134752%;
  background-color: #2d323e;
}

.nav-block-3 li.navmenu{
  margin-left: 61px;
  margin-top: 12px;
  line-height: 39px;
  position: relative;
  left: -2px;
  top: 1px;
}

.nav-block-3 .navicon a{
    color: white;
    display: inline-block;
    width: 114px;
    height: 48px;
    padding-bottom: 0;
}

.nav-block-3 .fa-navicon {
    position: absolute;
    top: 11px;
    left: 64px;
    font-size: 20px;
    width: 20px;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    top: 3px;
    left: 6px;
    position: relative;

    }

.nav-block-3 .fa-navicon:before{
  width: 20px;
}

/*Header Section Styles*/
header{
  background-image: url(../img/top-background.png);
  height: 100vh;
  background-size: cover;
}

header p{
  color: white;
  width: 410px;
  margin-bottom: 31px;
}

header .button{
  color: #2d323e;
  background-color: white;
}

/*Next Event Section Styles*/

.para-title{
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 24px;
  font-style: italic;
}


.date{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.next-event{
  margin-top: 141.08px;
  padding-bottom: 486px;
}

.side-header{
  width: 521px;
  margin: 0;
  margin-right: 125px;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  line-height: 96px;
  letter-spacing: 0.8em;
  text-transform: uppercase;
  font-weight: 400;
  float: left;
}

.para-side{
  width: 527px;
  text-align: left;
  float: left;
}

.para-side h2{
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0;
  text-transform: initial;
}

.para-side .button{
  margin-top: 47px;
}

.special-para{
  width: 800px;
  color: #6e7991;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin: 0 auto;
  margin-top: 80.08px;
  padding-bottom: 138px;
}

.special-para span{
  color: #fff;
}

/*Speakers Styles*/

.speakers{
  padding-bottom: 194px;
}

.speakers img{
  width: 328px;
}

.speakers li{
    font-family: "SSSocialRegular";
    color: #333;
    list-style-type: none;
    display: inline-block;
    margin-right: 27px;
}

.speakers li:last-child{
  margin-right: 0;
}

.speakers h2:first-child{
  text-align: center;
}

.speaker-block h2{
  color: #333;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 24px;
  line-height: 48px;  
  letter-spacing: 0;
  text-transform: initial;
  text-align: center;
}

.speaker-block p{
  color: #333;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.speaker-block{
  float: left;
  width: 27.333333333%;
  margin-right: 9%;
  text-align: center;
}

.speaker-block:last-child{
  margin-right: 0;
}


.ss-social-regular{
    font-family: "SSSocialRegular";
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

/*Venue Styles*/

.venue-title{
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0.3em;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
}

.venue .address{
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 48px;
  margin-top: -24px;
}

.venue .imgcont{
    float: right;
    width: 900px;
    height: 900px;
}

.venue .side-header{
  margin-right: 0;
}

.venue-subinfo{
  padding-top: 167px;
    float: left;
    width: 25%;
}


/*News Styles*/

.news .button{
  float: right;
  margin-top: 154px;
}

.news h2{
  margin-top: 144px;
  display: inline-block;
}

/*Our Partners Styles*/

.partner-img{
  text-align: center;
  padding-bottom: 218px;
}

.partner-img img:nth-child(1){
  width: 192px;
  margin-right: 217px;

}

.partner-img img:nth-child(2){
  width: 174px;
  position: relative;
  top: 18px;
}

/*Email Subscribe Styles*/


.subscribe h2{
  padding-top: 148px;
  color: #fff;
  text-align: center;
}

.subscribe p{
  width: 546px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.subscribe form{
  text-align: center;
}

.subscribe form input{
  width: 546px;
  border: 0;
  background-color: #2d323e;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  padding: 48px;
  font-size: 32px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 118px;
}

/*Footer Styles*/

footer{
  background-color: #23262f;
}

footer img{
  width: 90px;
}

footer h2{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: white;
  letter-spacing: 0.8em;
  text-align: center;
}

.verb-logo{
    display: block;
    text-align: center;
    padding-bottom: 34px;

}


/*------*/
/* Form */
/*------*/

  /*Form elements connected to subscribe section of site*/

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.2s 0.2s ease; 
  opacity: 0;
}

invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

  ::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  font-size: 32px;
  text-align: center;
  }

:-moz-placeholder { /* Firefox 18- */
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  padding: 48px;
  font-size: 32px;
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  padding: 48px;
  font-size: 32px;
  text-align: center;
}

:-ms-input-placeholder {  
font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  padding: 48px;
  font-size: 32px;
  text-align: center;
}


textarea, input { 
  outline: none; 
}


/*-------------------*/
/* Overall Structure */
/*-------------------*/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hidden {
  display: none !important;
}

.wrap {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}


/*--------------*/
/* Main Content */
/*--------------*/





.why-trend{
  background-color: #282d38;
}

.why-trend h2{
  color: #fff;
  display: inline-block;
}

.why-trend img{
    width: 170px;
    position: relative;
    top: 16px;
    left: 21px;
}

.why-trend-title{
  text-align: center;
}

.why-trend-title h2{
  display: inline-block;
}

.venue img{
  width: 1000px;
}

.subscribe{
  background-color: #2d323e;
  border-bottom: 1px solid #393c44;
}

.our-partners h2{
  text-align: center;
  padding-top: 83px;
  padding-bottom: 94px;
}

/*--------*/
/* Stripe */
/*--------*/

header .strip-parent { 
  height: 100%;
  position: relative;
  left: 6%;
  z-index: 12;
  float: left;
  max-width: 400px;
}
header .strip-parent > .strip { 
  background: rgba(0,0,0,0);
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  transform: skew(20deg);
  width: 600px ; 
}
header .strip-parent > .strip > .bg-img {
background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#282d38+0,7db9e8+100&amp;1+0,0+100 */
background: -moz-linear-gradient(top,  rgba(40,45,56,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,45,56,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(40,45,56,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(40,45,56,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(40,45,56,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(40,45,56,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282d38', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
  color: #fff;
  height: 100%;
  left: -109.5px;
  position: absolute;
  text-align: center;
  transform: skew(-20deg);
}



.venue{
  background-color: aliceblue;
  padding-bottom: 254px;
  position: relative;
}


.venue .bg-strip{
  position: absolute;
  z-index: 2000;
  height: 100%;
  width: 100%;
  left: 56%;
}


.venue .bg-strip .strip-parent { 
  height: 100%;
  position: relative;
  left: 6%;
  z-index: 12;
  float: left;
  max-width: 400px;
}
.venue .bg-strip .strip-parent > .strip { 
  background: rgba(0,0,0,0);
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  transform: skew(20deg);
  width: 600px ; 
}
.venue .bg-strip .strip-parent > .strip > .bg-img {
  background: url(../img/full/layer13.png) no-repeat center center fixed;
-webkit-box-shadow: inset 11px 13px 27px -21px rgba(0,0,0,0.75);
-moz-box-shadow: inset 11px 13px 27px -21px rgba(0,0,0,0.75);
box-shadow: inset 11px 13px 27px -21px rgba(0,0,0,0.75);
  background-size: cover;
  color: #fff;
  height: 100%;
  left: -109.5px;
  position: absolute;
  text-align: center;
  transform: skew(-20deg);
}

