/*------------------*/
/* Import/Font-face */
/*------------------*/

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:700,400,400italic);
@font-face {
  font-family: "SSSocialRegular";
  src: url('../webfonts/ss-social-regular.eot');
  src: url('../webfonts/ss-social-regular.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/ss-social-regular.woff') format('woff'),
       url('../webfonts/ss-social-regular.ttf')  format('truetype'),
       url('../webfonts/ss-social-regular.svg#SSSocialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*------------------*/
/* Basic Code Shell */
/*------------------*/

* {
  box-sizing: border-box;
}

/* Optional min width */
html {
  min-width: 20rem;
}

body {
  font-size: 1.125rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

/*-------*/
/* Fonts */
/*-------*/

h1{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  width: 453px;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.button{
  width: 257px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  display: block;
  background-color: #2d323e;
  padding: 26px;
  list-style-type: none;
  position: relative;
}

.button a, a.button{
    color: white;
}

.button img{
  width: 14px;
  position: absolute;
  top: 30.25px;
  left: 216px;
}

.navicon a{
  color: white;
}

li.navmenu{
    list-style-type: none;
}

.navmenu span{
      font-family: 'Lato', sans-serif;
      font-size: 10px;
      line-height: 24px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      font-weight: 700;
}

.para-title{
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 24px;
  font-style: italic;
}

.date{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.side-header{
  width: 521px;
  margin-right: 125px;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  line-height: 96px;
  letter-spacing: 0.8em;
  text-transform: uppercase;
  font-weight: 400;

}

.para-side h2{
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0;
  text-transform: initial;
}

h2{
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 96px;
  letter-spacing: 0.8em;  
  text-transform: uppercase;
  color: #333;
  font-weight: 400;
}

  nav li a{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.8em;  
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
  list-style-type: none;
  padding-bottom: 12px;
  }

nav li a:active{
  border-bottom: 2px solid #000;
}

.special-para{
  width: 800px;
  color: #6e7991;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

.special-para span{
  color: #fff;
}

.speaker-block h2{
  color: #333;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 24px;
  line-height: 48px;  
  letter-spacing: 0;
  text-transform: initial;
}

.speaker-block p{
    color: #333;
    width: 305px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.speakers img{
  width: 328px;
}

.speakers li{
    font-family: "SSSocialRegular";
    color: #333;
    list-style-type: none;
}

.ss-social-regular{
    font-family: "SSSocialRegular";
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

.venue-title{
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0.3em;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
}

.venue .address{
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 48px;
}

.partner-img img:nth-child(1){
  width: 192px;
}

.partner-img img:nth-child(2){
  width: 174px;
}

footer img{
  width: 90px;
}

footer h2{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: white;
  letter-spacing: 0.8em;
  text-align: center;
}

.subscribe h2{
  color: #fff;
}

.subscribe p{
  width: 546px;
  color: #fff;
  text-align: center;
}

.subscribe form input{
  width: 546px;
  border: 0;
  background-color: #2d323e;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  padding: 48px;
  font-size: 32px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 118px;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.2s 0.2s ease; 
  opacity: 0;
}

invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

  ::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  font-size: 32px;
  text-align: center;
  }

:-moz-placeholder { /* Firefox 18- */
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  padding: 48px;
  font-size: 32px;
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  padding: 48px;
  font-size: 32px;
  text-align: center;
}

:-ms-input-placeholder {  
font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  padding: 48px;
  font-size: 32px;
  text-align: center;
}


textarea, input { 
  outline: none; 
}


/*-------------------*/
/* Overall Structure */
/*-------------------*/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hidden {
  display: none !important;
}

.wrap {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}

/*-----*/
/* Nav */
/*-----*/


/*--------------*/
/* Main Content */
/*--------------*/

.logo-title img{
  width: 424px;
}

.nav-block-1, .nav-block-2, .nav-block-3{
  float: left;
  height: 72px;
}

.on-scroll{
  background-color: #2d323e;
}

.nav-block-1{
  width: 27.955082742%;
  background-color: #2d323e;
  text-align: right;
}

.nav-block-1 > a >img{
    width: 150px;
    margin: 17px 0;
    margin-right: 50px;
}
.nav-block-2{
  width: 45.803782506%;
  background-color: #424752;
  text-align: center;
}

.nav-block-2 a{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.3em;
  vertical-align: middle;
  padding-top: 17px;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.nav-block-3 a:active{
  border: 0;
}


.nav-block-3{
  width: 26.241134752%;
  background-color: #2d323e;
}

.nav-block-3 li.navmenu{
  margin-left: 61px;
  margin-top: 12px;
  line-height: 39px;
  position: relative;
}

.nav-block-3 .navicon a{
    color: white;
    display: inline-block;
    width: 114px;
    height: 48px;
    padding-bottom: 0;
}

.nav-block-3 .fa-navicon{
    position: absolute;
    top: 12px;
    left: 78px;
    font-size: 24px;
    width: 20px;
}

.nav-block-3 .fa-navicon:before{
  width: 20px;
}


.why-trend img{
  width: 170px;
}

.venue img{
  width: 1000px;
}

.subscribe{
  background-color: #2d323e;
}

/*--------*/
/* Stripe */
/*--------*/

/*header .strip-parent { 
  background: #67e6ec;
  height: 100%;
  position: relative;
}
header .strip-parent > .strip { 
  background: #fff;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  transform: skew(20deg);
  width: 200px; 
}
header .strip-parent > .strip > .bg-img {
  background: red;
  color: #fff;
  height: 100%;
  left: -109.5px;
  position: absolute;
  text-align: center;
  transform: skew(-20deg);
}
*/
